* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Francois-One";
  src: url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");
}

body {
  width: 100%;
  height: auto;
  font-family: "Francois-One";
}

header {
  display: flex;
  justify-content: center;
  margin-top: 1.5vh;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
}

#searchInput {
  border: none;
  background: rgb(161, 214, 250);
  background: linear-gradient(
    166deg,
    rgba(161, 214, 250, 1) 31%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 16px;
  height: 3rem;
  width: 22rem;
  color: white;
  font-size: 15px;
}

input :focus {
  color: white;
}

::placeholder {
  color: white;
  font-size: 1.3em;
}

.mainTemp-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin-top: 5vh;
}

#mainTemp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(161, 214, 250);
  background: linear-gradient(
    166deg,
    rgba(161, 214, 250, 1) 31%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 20px;
  height: 30vh;
  width: 50vh;
}

.date {
  color: white;
  font-weight: 5vh;
  position: absolute;
  margin-bottom: 20vh;
}

.temperature {
  color: white;
  font-size: 8vh;
}
.description {
  color: white;
}
.tempWeek-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin-top: 5vh;
}

.tempWeek {
  background: rgb(161, 214, 250);
  background: linear-gradient(
    166deg,
    rgba(161, 214, 250, 1) 31%,
    rgb(121, 129, 131) 100%
  );
  margin-top: 4rem;
  border-radius: 15px;
  padding: 20px;
  width: 45rem;
  text-align: center;
  font-size: 2.5vh;
}

.temperatureW{
    color: white;
}

.dateW{
    color: white;
}

.descriptionW{
    color: white;
}
